<style>

div {
  border-radius: 5px;
  background-color: #F3F3F5;
  padding: 20px;
  color: #FF00BF;
  font-family: Arial
}
body {
    font-family: Arial;
    padding: 10px;
    background: #FF00BF;
}
.header {
    padding: 30px;
    text-align: center;
    background: #F3F3F5;
}
.header h1 {
  font-size: 50px;
  color: #FF00BF;
}
p {
  font-size: 25px;
  color: #333447;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #F3F3F5;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {
  width: 100%;
  background-color: #352384;
  color: #F3F3F5;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #333447;
}
</style>